- name: Deploy to server
  env:
    HOST: ${{ secrets.HOST }}
    USERNAME: ${{ secrets.USERNAME }}
    APP_DIR: /ci_cd
    PORT: ${{ secrets.PORT }}
  run: |
    ssh $USERNAME@$HOST << EOF
      set -e

      sudo apt-get update
      sudo apt-get install -y git

      # Если папка не существует, клонируем
      if [ ! -d "$APP_DIR" ]; then
        git clone https://github.com/Akbar00000/SERVER-.git "$APP_DIR" || { echo "Git clone failed"; exit 1; }
      else
        cd "$APP_DIR"
        # Если это не git-репозиторий — удаляем и клонируем заново
        if [ ! -d .git ]; then
          echo "⚠️ Existing folder is not a git repo, recloning..."
          cd ..
          rm -rf "$APP_DIR"
          git clone https://github.com/Akbar00000/SERVER-.git "$APP_DIR" || { echo "Git clone failed"; exit 1; }
        fi
      fi

      cd "$APP_DIR"

      git pull origin main || { echo "Git pull failed"; exit 1; }

      echo "PORT=$PORT" > .env

      npm install
      npm run build

      if pm2 list | grep -q "ci_cd_app"; then
        pm2 restart ci_cd_app
      else
        pm2 start dist/main.js --name ci_cd_app
      fi

      pm2 save
    EOF
